body{
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
header input{
    margin-left: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
nav a{
    color: #595959;
    margin-left: 30px;
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.Block_First .container{
    display: flex;
    justify-content: space-between;
}
._w50{
    width: 50%;
}
.Forms_Container input{
    width: 100%;
    border: 1px solid #777;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.Forms_Container label{
    display: inline-block;
    margin-bottom: 5px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.checkbox input{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-bottom: 0;
}
.checkbox a{
    margin:0 7px;
}
.Container_First{
    text-align: center;
    padding-right: 80px;
    padding-top: 120px;
    color: #777777;
}
.Container_First h3{
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.Container_First p{
    word-spacing:3px;
    line-height: 25px;
}
.Forms_Container .submit{
    display: block;
    text-transform: uppercase;
    margin: 25px auto 0;
    border-radius: 25px;
    border: 0;
    font-size: 16px;
    padding: 15px;
    background-color: blue;
    color: white;
    max-width: 70%;
}

.Second_Container{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.Item_container{
    display: flex;
    width: 100%;
}
.ItemBox{
    text-align: center;
    display: flex;
    padding: 0 40px 100px 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 19px;
    font-weight: 50;
    word-spacing: 3px;
    margin-left: 50px;
}
.ItemBox hr{
    width: 100%;
}

.Name_1{
padding-bottom: 100px;
}
.Name-curs{
    text-align: center;
    font-size: 28px;
    font-weight: 300;
}
.Three_container{
    background-color: #5b53e0;
    min-height: 300px;
    display: flex;
}
.Inform_name{
    text-align: center;
}

.Container_inform{
    display: flex;
    flex-direction: row;
}
.Inform_Box{
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 0;
    margin:60px;
}
.number_text{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.sub_text{
    color: #abafb9;
    font-size: 13px;
    font-weight: 500;
}
